version: 2.1

executors:
  maven-executor:
    docker:
      - image: cimg/openjdk:11.0-browsers
    environment:
      CHROME_BIN: /usr/bin/google-chrome
      FIREFOX_BIN: /usr/bin/firefox
      TEST_BROWSER: chrome 

jobs:
  build:
    executor: maven-executor
    steps:
      - checkout

      - run:
          name: Set Timezone
          command: echo 'export TZ="/usr/share/zoneinfo/America/Toronto"' >> $BASH_ENV

      - run:
          name: Update Packages
          command: sudo apt-get update

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-

      - run:
          name: Install Dependencies
          command: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run:
          name: Run Tests
          command: mvn verify -Dbrowser=${TEST_BROWSER}
      - store_test_results:
          path: target/junit-reports/Cucumber.xml
      - store_artifacts:
          path: test-output/SparkReport/
          destination: spark_report
      - store_artifacts:
          path: PdfReport/ExtentPdf.pdf
          destination: pdf_reports

workflows:
  build:
    jobs:
      - build
