version: 2.1

executors:
  maven-executor:
    docker:
      - image: cimg/openjdk:11.0
    environment:
      CHROME_BIN: /usr/bin/google-chrome

jobs:
  build:
    executor: maven-executor
    steps:
      - checkout

      - run:
         name: Set Timezone
         command: echo 'export TZ="/usr/share/zoneinfo/America/Toronto"' >> $BASH_ENV


      - run:
          name: Update Packages
          command: sudo apt-get update

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-

      - run:
          name: Install Dependencies
          command: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run:
          name: Install Chrome
          command: |
            sudo apt-get install -y wget
            wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
            sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
            sudo apt-get update
            sudo apt-get install -y google-chrome-stable

      - run:
          name: Run Tests
          command: mvn verify
      - store_test_results:
         path: target/junit-reports/Cucumber.xml
      - store_artifacts:
          path: test-output/SparkReport/
          destination: spark_report
      - store_artifacts:
          path: PdfReport/ExtentPdf.pdf
          destination: pdf_reports
      - run:
          name: Delete Specific Files
          command: |
           rm -f ./test-output/SparkReport/embedded*.png
          when: always

workflows:
  build:
    jobs:
      - build
